body{
    margin: 0;
    font-size: 15px;
    background-color: #f0f8ff;
}
header{
    background-color:#2196F3;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 7px;
    

}
h1{
    color: blue;
    font-size: 3rem;
}


header h1{
    
    color: white;
    text-align: center;
    text-align: center;
}
*{
    font-family: monospace;
}
.button{
    margin: 15px;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.button:hover{
    background-color: blue;
    color: white
}
img{
    height:300px;
}
section{
    height: 100vh;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    padding: 20px;
}
form div{
    margin: 5px;
}
.submit{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    background-color:rgb(110, 235, 110) ;
}
.submit:hover{
    background-color:rgb(73, 216, 73);
    
}
.reset{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    background-color:rgb(226, 48, 28) ;
}
.reset:hover{
    background-color:rgb(226, 48, 28) ;
    
}
input{
    border-radius: 5px;
    border: 2px solid lightgrey;
    height: 20px;
}
footer{
    height: 100px;
    background-color: black;
    color: lightslategrey;
    text-align: center;
}
.topbutton{
    bottom: 0px;
    position: fixed;
    right: 0;
    height: 40px;
    width: 50px;
    color:black;
    border:none;
    border-radius: 50px;
    background-color: rgb(84, 197, 242);
    cursor: pointer;
    margin: 5px;
}




